<footer class="mt-[736px]">
            <div class="container mx-auto">
                <div class="flex justify-end gap-x-5">
                    <a href="" class="block max-w-12 w-full bg-[#2D2D2D] rounded-2xl p-2 hover:bg-gradient-to-br from-[#1A2037] to-[#091867]">
                        <img src="assets/mainPage/vk.svg" alt="vk" class="block w-full">
                    </a>
                    <a href="" class="block max-w-12 w-full bg-[#2D2D2D] rounded-2xl p-2 hover:bg-gradient-to-br from-[#1A2037] to-[#091867]">
                        <img src="assets/mainPage/twitter-x.svg" alt="twitter" class="block w-full">
                    </a>
                    <a href="" class="block max-w-12 w-full bg-[#2D2D2D] rounded-2xl p-2 hover:bg-gradient-to-br from-[#1A2037] to-[#091867]">
                        <img src="assets/mainPage/youtube.svg" alt="youtobe" class="block w-full">
                    </a>
                </div>
            </div>
            <hr class="mt-3 mb-4">
            <div class="container mx-auto flex justify-between items-center text-white">
                <div>
                    <div class="text-sm flex gap-x-6">
                        <a href="">
                            правила использования сайта
                        </a>
                        <a href="">
                            политика персональных данных
                        </a>
                        <a href="">
                            политика конфиденциальности
                        </a>
                        <a href="">
                            информация о разработке
                        </a>
                        <a href="">
                            политика cookie
                        </a>
                    </div>
                    <p class="text-[10px] mt-4">
                        &copy; Все права защищены 2024 АО ОЧКО
                    </p>
                </div>
                <div class="flex items-center gap-x-5">
                    <div>
                        <img src="assets/mainPage/mess-icon-2.png" alt="director">
                    </div>
                    <div class="flex flex-col gap-y-2">
                        <div class="flex gap-x-4">
                            <img src="assets/mainPage/disainer-1.png" alt="designer">
                            <img src="assets/mainPage/front-1.png" alt="frontend">
                            <img src="assets/mainPage/test.png" alt="tester">
                            <img src="assets/mainPage/dis-2.png" alt="designer">
                        </div>
                        <div class="flex gap-x-4">
                            <img src="assets/mainPage/back-1.png" alt="backend">
                            <img src="assets/mainPage/mess-icon-1.png" alt="analyst">
                            <img src="assets/mainPage/front-2.png" alt="frontend">
                            <img src="assets/mainPage/back-2.png" alt="backend">
                        </div>
                    </div>
                </div>
            </div>

</footer>