<footer class="h-[222px]">
    <hr class="mb-4">
    <div class="container mx-auto h-[200px] flex justify-between items-center text-white">
        <div class="font-black">
            <div class="text-sm flex gap-x-6">
                <a href="">
                    правила использования сайта
                </a>
                <a href="">
                    политика персональных данных
                </a>
                <a href="">
                    политика конфиденциальности
                </a>
                <a href="">
                    информация о разработке
                </a>
                <a href="">
                    политика cookie
                </a>
            </div>
            <p class="text-[10px] mt-4">
                &copy; Все права защищены 2024 АО ОЧКО
            </p>
        </div>
    </div>
</footer>