<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
        <link rel="icon" href="assets/logo.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="style/output.css" rel="stylesheet">
    <script src="scripts/account.js" defer></script>
</head>
<body class="font-main">
    <div class="main-background">
        <div class="container mx-auto pt-5">
            {{> header}}

            <div class="mt-[138px] h-[238px] w-full bg-white border border-stroke rounded-[20px] shadow-cards relative">
                <div class="flex justify-center flex-col items-center h-full w-[540px] text-white bg-main-yellow border border-white rounded-[20px] absolute right-0 ">
                    <div>
                        <p class="text-3xl mb-[18px]">Ваша скидка: <span>10%</span></p>
                        <p class="text-xl mb-[38px]">Сумма заказов: <span>5675</span> ₽*</p>
                        <p class="text-[16px] text-black">*До скидки <span>15%</span> не хватает покупок на сумму: <span>1255</span> ₽</p>
                    </div>
                </div>
                <div class="card-content mt-[35px] mb-[30px] mx-[141px]">hello</div>
            </div>
        </div>
        {{> secondFooter}}
    </div>

</body>
</html>