<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
        <link rel="icon" href="assets/logo.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="style/output.css" rel="stylesheet">
    <script src="scripts/account.js" defer></script>
</head>
<body class="font-main">
    <div class="main-background">
        <div class="container mx-auto pt-5">
            {{> header}}

            <div>
                
            </div>
        </div>
        {{> secondFooter}}
    </div>

</body>
</html>